#banner {
  padding: 1.375rem 14.6rem 1.25rem 1.675rem;
  position: relative;
  width: 27.125rem;
  border-radius: 1.16269rem;
  background: rgba(0, 0, 0, 0.6);
  min-height: 11rem;
  overflow: hidden;
  transition-duration: 500ms;
}
#banner .closer {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 1rem;
  font-size: 2rem;
}
#banner .title {
  font-family: Inter;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: -0.05rem;
  margin-bottom: 0.5rem;
}
#banner .body {
  font-family: Inter;
  font-size: 0.85rem;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -0.01625rem;
  margin-bottom: 1rem;
}
#banner .btn {
  padding: 0.375rem 0.5rem 0.5rem;
  background-color: #7432ff;
  border-radius: 0.31056rem;
  font-family: Inter;
  font-size: 0.8125rem;
  font-weight: 500;
  letter-spacing: -0.01625rem;
}
#banner .btn:hover {
  background-color: #5200fe;
}
#banner img {
  position: absolute;
  right: -1rem;
  bottom: 0;
  border-top-left-radius: 0.5rem;
  width: 240px;
}
body.callout-open #top {
  padding-bottom: 0;
}
